__pycache__/
*.pyc
.DS_Store

#编译产物
homework2/lr
homework2/ridge
homework2/linear_regression
homework2/ridge_regression
*.o
*.out
a.out
.ipynb_checkpoints/
.venv/
venv/
.~lock*
#openGA是clone下来的，不要嵌套git
homework2/作业1/openGA/.git/
